.create-post-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.close-create-post-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}

.upload-image-box-container {
  margin-bottom: 20px;
  background-color: #555;
  text-align: center;
  border-radius: 1%;
  margin-top: 3%;
  cursor: pointer;
}
#addImageIcon {
  width: 30%;
}

.post-input-container {
  margin-bottom: 15px;
}

.create-post-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.create-post-input,
.create-post-textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delivery-options-container,
.category-options-container {
  display: flex;
  margin-bottom: 15px;
}

.delivery-option-label,
.category-option-label {
  margin-right: 15px;
}

.create-post-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-post-button:hover {
  background-color: #45a049;
}
