body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.post-container {
  margin-top: 20px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  max-height: 80vh;
  overflow-y: auto; 
}

.post-card {
  width: 300px;
  margin: 10px;
}
